services:
  eldewrito:
    image: domistyle/eldewrito
    restart: unless-stopped
    ports:
      - 11774:11774/udp
      - 11775:11775/tcp
      - 11776:11776/tcp
      - 11777:11777/tcp
    volumes:
      - /opt/eldewrito:/game
      - data:/game/data
      - mods:/game/mods
      - logs:/logs
    cap_add:
      - SYS_PTRACE

volumes:
  data:
  mods:
  logs:
